body
{
	margin: 0;
	padding: 0;
	background: #7300e6;
	font-family: sans-serif;
}

.loginBox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 350px;
	min-height: 200px;
	background: #fff;
	border-radius: 10px;
	padding: 40px;
	box-sizing: border-box;
}

h3
{
	margin: 0;
	padding: 0 0 20px;
	color: #262626;
	text-align: center;
}

.loginBox input
{
	width: 100%;
	margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"]
{
	border: none;
	border-bottom: 2px solid #262626;
	outline: none;
	height: 40px;
	color: #262626;
	background: transparent;
	font-size: 16px;
	padding-left: 20px;
	box-sizing: border-box;
}

.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus
{
	border-bottom: 2px solid #f00;
}

.inputBox
{
	position: relative;
}

.inputBox span
{
	position: absolute;
	top: 10px;
	color: #262626;
}

.loginBox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	font-size: 16px;
	background: #3333ff;
	color: #fff;
	border-radius: 20px;
	cursor: pointer;
}

.loginBox a
{
	color: #262626;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;
}

.wrapper
{
	display: grid;
	/* grid-template-columns: 1fr 1fr 1fr 1fr; */
	grid-template-columns: repeat(4, 1fr);
	/* grid-auto-rows: 100px; */
}

.wrapper > div{
	/* background: #eee; */
	/* border:#333 1px solid; */
	padding: 1em;
	align: center;
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.mail
{
	padding: 100px;

}
