{% extends "layout.html" %}
{% block usefull_links %}
    <div class="col-md-4">
      <div class="content-section">
        <h3>Useful Links</h3>
        <p class='text-muted'>
          <ul class="list-group">
            <a class="list-group-item list-group-item-light" href="https://www.academia.edu/">Academia</a>
            <a class="list-group-item list-group-item-light" href="https://scholar.google.com/">Google Scholar</a>
            <a class="list-group-item list-group-item-light" href="https://www.instructables.com">Instructables</a>
            <a class="list-group-item list-group-item-light" href="https://developer.mozilla.org">Mozilla Developer Network</a>
          </ul>
        </p>
      </div>
    </div>
{% endblock usefull_links %}