{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.csrf_token() }}
            <div class="form-group">
				{{ form.keywords.label(class="form-control-label") }}
                {% if form.keywords.errors %}
                    {{ form.keywords(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.keywords.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.keywords(class="form-control form-control-lg") }}
                {% endif %}
			</div>
            <div class="form-group">
				{{ form.submit(class="btn btn-outline-success") }}
			</div>
        </form>
    </div>

    {% if message is defined %}
        {% if message is iterable and message is not string %}
            {% if message[0]|length > 0 %}
                <div class="content-section">
                    <div class="alert alert-success" role="alert">
                        {{message|length}} emails have been found!
                    </div>
                    <div class="alert alert-success" role="alert">
                        {{ message[1] }} seconds taken!
                    </div>
                    <table class="table table-striped">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Emails</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for email in message %}
                            <tr>
                              <th scope="row">{{ loop.index }}</th>
                              <td>{{ email }}</td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    {{message[0]|length}} email has been found! Try with different keywords.
                </div>
            {% endif %}
        {% elif message[0] is string %} {# message contain any string message other than email list #}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% elif message[0] is none %}
            <div class="alert alert-danger" role="alert">
                0 email has been found! Try with different keywords.
            </div>
        {% endif %}
    {% endif %}
{% endblock content %}